## Analyzing American Baby Name Trends

We'll be working with data provided by the United States Social Security Administration,
which lists first names along with the number and sex of babies they were given to in each year.

**Question answered using Analyzing Baby Name Trends dataset:**

1. Classic baby names that have stood the test of time, appearing in all 101 years
2. Classifying each name's popularity according to the number of years that the name appears in the
    dataset.
3. What are the top-ranked female names since 1920?
4. Returning a list of first names which meet a friend's baby name criteria, which are:
	* Name that has been popular in the years since 2015
	* name ending in the letter 'a' since she's heard that vowels in baby names are trendy
	* Traditionally female name
5. When did the name Olivia become so popular?
6. Which was the most popular male name in each year?
7. Using Distinct function finding the short list of names 
	that comprised the top names in the last 101 years
8. Which name has been number one for the largest number of years?

In [1]:
%%sql
postgresql:///names

'Connected: @names'

Limited the dataset to first names which were given to over 5,000 American babies in a given year:

In [2]:
%%sql

SELECT MIN(CAST(num AS int))
FROM baby_names;

 * postgresql:///names
1 rows affected.

[(5001,)]

Our data spans 101 years, from 1920 through 2020

In [3]:
%%sql

SELECT MIN(year), MAX(year)
FROM baby_names;

 * postgresql:///names
1 rows affected.

[(1920, 2020)]

**SQL Queries**

**1. Classic baby names that have stood the test of time, appearing in all 101 years**

In [4]:
%%sql

SELECT first_name, SUM(CAST(num as INT)) AS sum
FROM baby_names
GROUP BY first_name
HAVING COUNT(year) = 101
ORDER BY sum DESC;

 * postgresql:///names
8 rows affected.

[('James', 4748138),
 ('John', 4510721),
 ('William', 3614424),
 ('David', 3571498),
 ('Joseph', 2361382),
 ('Thomas', 2166802),
 ('Charles', 2112352),
 ('Elizabeth', 1436286)]

We see that there are 7 male names and only 1 female name that has been used every year for the last 101 years.

**2. Classifying each name's popularity according to the number of years that the 
   name appears in the dataset:
   * Classic > 80
   * Semi-classic > 50
   * Trendy > 20
   * Semi-trendy > 0**

In [10]:
%%sql

SELECT first_name,
        SUM(CAST(num AS int)) AS total_sum,
        CASE WHEN COUNT(year) > 80 THEN 'Classic'
             WHEN COUNT(year) > 50 THEN 'Semi-classic'
             WHEN COUNT(year) > 20 THEN 'Trendy'
             ELSE 'Semi-Trendy' END AS popularity_type
FROM baby_names
GROUP BY first_name
ORDER BY first_name;

 * postgresql:///names
547 rows affected.

[('Aaliyah', 15870, 'Semi-Trendy'),
 ('Aaron', 530592, 'Semi-classic'),
 ('Abigail', 338485, 'Trendy'),
 ('Adam', 497293, 'Trendy'),
 ('Addison', 107433, 'Semi-Trendy'),
 ('Adrian', 147741, 'Trendy'),
 ('Aidan', 68566, 'Semi-Trendy'),
 ('Aiden', 216194, 'Semi-Trendy'),
 ('Alan', 162041, 'Trendy'),
 ('Albert', 260945, 'Trendy'),
 ('Alex', 158677, 'Trendy'),
 ('Alexa', 33522, 'Semi-Trendy'),
 ('Alexander', 579854, 'Trendy'),
 ('Alexandra', 167122, 'Trendy'),
 ('Alexandria', 5026, 'Semi-Trendy'),
 ('Alexis', 282149, 'Trendy'),
 ('Alfred', 16260, 'Semi-Trendy'),
 ('Alice', 296559, 'Trendy'),
 ('Alicia', 84579, 'Semi-Trendy'),
 ('Allen', 10256, 'Semi-Trendy'),
 ('Allison', 214995, 'Trendy'),
 ('Alyssa', 269134, 'Trendy'),
 ('Amanda', 699911, 'Trendy'),
 ('Amber', 313418, 'Trendy'),
 ('Amelia', 106381, 'Semi-Trendy'),
 ('Amy', 569542, 'Trendy'),
 ('Andrea', 321655, 'Trendy'),
 ('Andrew', 1157548, 'Semi-classic'),
 ('Angel', 157667, 'Semi-Trendy'),
 ('Angela', 541553, 'Trendy'),
 ('Angelina', 11337, 'Semi-Trendy'),
 ('Anita', 44692, 'Semi-Trendy'),
 ('Ann', 336091, 'Trendy'),
 ('Anna', 445496, 'Semi-classic'),
 ('Anne', 70228, 'Semi-Trendy'),
 ('Annette', 49954, 'Semi-Trendy'),
 ('Annie', 95837, 'Semi-Trendy'),
 ('Anthony', 1344352, 'Classic'),
 ('Antonio', 10097, 'Semi-Trendy'),
 ('April', 138714, 'Semi-Trendy'),
 ('Aria', 52145, 'Semi-Trendy'),
 ('Ariana', 5497, 'Semi-Trendy'),
 ('Arianna', 5270, 'Semi-Trendy'),
 ('Ariel', 5410, 'Semi-Trendy'),
 ('Arthur', 309705, 'Trendy'),
 ('Asher', 38156, 'Semi-Trendy'),
 ('Ashley', 798738, 'Trendy'),
 ('Ashton', 5436, 'Semi-Trendy'),
 ('Aubrey', 72220, 'Semi-Trendy'),
 ('Audrey', 48341, 'Semi-Trendy'),
 ('Aurora', 5184, 'Semi-Trendy'),
 ('Austin', 365295, 'Trendy'),
 ('Ava', 265126, 'Semi-Trendy'),
 ('Avery', 112293, 'Semi-Trendy'),
 ('Ayden', 34244, 'Semi-Trendy'),
 ('Bailey', 10219, 'Semi-Trendy'),
 ('Barbara', 1343901, 'Semi-classic'),
 ('Barry', 85434, 'Semi-Trendy'),
 ('Beatrice', 27983, 'Semi-Trendy'),
 ('Bella', 5127, 'Semi-Trendy'),
 ('Benjamin', 627696, 'Trendy'),
 ('Bentley', 16844, 'Semi-Trendy'),
 ('Bernice', 46347, 'Semi-Trendy'),
 ('Beth', 55228, 'Semi-Trendy'),
 ('Betty', 893396, 'Trendy'),
 ('Beverly', 310683, 'Trendy'),
 ('Billy', 270759, 'Trendy'),
 ('Blake', 48795, 'Semi-Trendy'),
 ('Bobby', 203289, 'Trendy'),
 ('Bonnie', 193352, 'Trendy'),
 ('Bradley', 147275, 'Trendy'),
 ('Brandi', 16199, 'Semi-Trendy'),
 ('Brandon', 729832, 'Trendy'),
 ('Brandy', 48762, 'Semi-Trendy'),
 ('Brayden', 93754, 'Semi-Trendy'),
 ('Brenda', 513283, 'Trendy'),
 ('Brian', 1107302, 'Semi-classic'),
 ('Briana', 5001, 'Semi-Trendy'),
 ('Brianna', 210328, 'Trendy'),
 ('Brittany', 326255, 'Semi-Trendy'),
 ('Brittney', 37878, 'Semi-Trendy'),
 ('Brody', 21815, 'Semi-Trendy'),
 ('Brooke', 110847, 'Semi-Trendy'),
 ('Brooklyn', 62260, 'Semi-Trendy'),
 ('Bruce', 266549, 'Trendy'),
 ('Bryan', 314250, 'Trendy'),
 ('Caden', 5052, 'Semi-Trendy'),
 ('Caitlin', 38501, 'Semi-Trendy'),
 ('Caleb', 259439, 'Trendy'),
 ('Cameron', 253711, 'Trendy'),
 ('Camila', 51882, 'Semi-Trendy'),
 ('Carl', 334800, 'Trendy'),
 ('Carla', 22276, 'Semi-Trendy'),
 ('Carlos', 118325, 'Semi-Trendy'),
 ('Carol', 740607, 'Trendy'),
 ('Carole', 21186, 'Semi-Trendy'),
 ('Caroline', 5021, 'Semi-Trendy'),
 ('Carolyn', 438382, 'Trendy'),
 ('Carrie', 77899, 'Semi-Trendy'),
 ('Carson', 25598, 'Semi-Trendy'),
 ('Carter', 141274, 'Semi-Trendy'),
 ('Cassandra', 42677, 'Semi-Trendy'),
 ('Catherine', 345852, 'Trendy'),
 ('Cathy', 119020, 'Semi-Trendy'),
 ('Chad', 177923, 'Semi-Trendy'),
 ('Charles', 2112352, 'Classic'),
 ('Charlotte', 141540, 'Semi-Trendy'),
 ('Chase', 97684, 'Semi-Trendy'),
 ('Chelsea', 100857, 'Semi-Trendy'),
 ('Cheryl', 392691, 'Trendy'),
 ('Chloe', 187720, 'Trendy'),
 ('Chris', 48878, 'Semi-Trendy'),
 ('Christian', 357457, 'Trendy'),
 ('Christina', 366859, 'Trendy'),
 ('Christine', 465653, 'Trendy'),
 ('Christopher', 2012792, 'Semi-classic'),
 ('Christy', 10235, 'Semi-Trendy'),
 ('Cindy', 161070, 'Semi-Trendy'),
 ('Claire', 10225, 'Semi-Trendy'),
 ('Clara', 21336, 'Semi-Trendy'),
 ('Clarence', 77134, 'Semi-Trendy'),
 ('Cody', 225952, 'Trendy'),
 ('Cole', 72461, 'Semi-Trendy'),
 ('Colin', 5122, 'Semi-Trendy'),
 ('Colton', 58377, 'Semi-Trendy'),
 ('Connie', 179476, 'Trendy'),
 ('Connor', 203106, 'Trendy'),
 ('Cooper', 31011, 'Semi-Trendy'),
 ('Corey', 70531, 'Semi-Trendy'),
 ('Cory', 29454, 'Semi-Trendy'),
 ('Courtney', 202829, 'Trendy'),
 ('Craig', 190323, 'Trendy'),
 ('Crystal', 239999, 'Trendy'),
 ('Curtis', 48098, 'Semi-Trendy'),
 ('Cynthia', 577859, 'Trendy'),
 ('Dakota', 34334, 'Semi-Trendy'),
 ('Dale', 130919, 'Semi-Trendy'),
 ('Dana', 51558, 'Semi-Trendy'),
 ('Daniel', 1824274, 'Classic'),
 ('Danielle', 299683, 'Trendy'),
 ('Danny', 161078, 'Semi-Trendy'),
 ('Darlene', 89561, 'Semi-Trendy'),
 ('Darren', 5935, 'Semi-Trendy'),
 ('Darryl', 10142, 'Semi-Trendy'),
 ('David', 3571498, 'Classic'),
 ('Dawn', 225877, 'Trendy'),
 ('Debbie', 138846, 'Semi-Trendy'),
 ('Deborah', 675049, 'Trendy'),
 ('Debra', 508230, 'Trendy'),
 ('Denise', 285039, 'Trendy'),
 ('Dennis', 492221, 'Trendy'),
 ('Derek', 105026, 'Semi-Trendy'),
 ('Destiny', 100465, 'Semi-Trendy'),
 ('Devin', 70280, 'Semi-Trendy'),
 ('Diana', 172195, 'Trendy'),
 ('Diane', 453135, 'Trendy'),
 ('Diego', 46535, 'Semi-Trendy'),
 ('Dillon', 5062, 'Semi-Trendy'),
 ('Dolores', 101453, 'Semi-Trendy'),
 ('Dominic', 67420, 'Semi-Trendy'),
 ('Donald', 1280236, 'Semi-classic'),
 ('Donna', 762594, 'Trendy'),
 ('Doris', 336062, 'Trendy'),
 ('Dorothy', 791084, 'Trendy'),
 ('Douglas', 426439, 'Trendy'),
 ('Dustin', 138651, 'Semi-Trendy'),
 ('Dylan', 360776, 'Trendy'),
 ('Earl', 74214, 'Semi-Trendy'),
 ('Easton', 21820, 'Semi-Trendy'),
 ('Edith', 53687, 'Semi-Trendy'),
 ('Edna', 63698, 'Semi-Trendy'),
 ('Edward', 1013143, 'Semi-classic'),
 ('Elaine', 100359, 'Semi-Trendy'),
 ('Eleanor', 119863, 'Semi-Trendy'),
 ('Eli', 74938, 'Semi-Trendy'),
 ('Elias', 16965, 'Semi-Trendy'),
 ('Elijah', 277457, 'Trendy'),
 ('Elizabeth', 1436286, 'Classic'),
 ('Ella', 154079, 'Semi-Trendy'),
 ('Ellen', 82403, 'Semi-Trendy'),
 ('Ellie', 26266, 'Semi-Trendy'),
 ('Emily', 750420, 'Trendy'),
 ('Emma', 448087, 'Trendy'),
 ('Eric', 797880, 'Semi-classic'),
 ('Erica', 156158, 'Semi-Trendy'),
 ('Erin', 239718, 'Trendy'),
 ('Ernest', 43959, 'Semi-Trendy'),
 ('Esther', 28040, 'Semi-Trendy'),
 ('Ethan', 408918, 'Trendy'),
 ('Ethel', 53359, 'Semi-Trendy'),
 ('Eugene', 239512, 'Trendy'),
 ('Evan', 203165, 'Trendy'),
 ('Evelyn', 310824, 'Trendy'),
 ('Ezekiel', 5013, 'Semi-Trendy'),
 ('Ezra', 24632, 'Semi-Trendy'),
 ('Faith', 27204, 'Semi-Trendy'),
 ('Florence', 99171, 'Semi-Trendy'),
 ('Frances', 348520, 'Trendy'),
 ('Francis', 59097, 'Semi-Trendy'),
 ('Frank', 596887, 'Semi-classic'),
 ('Franklin', 5364, 'Semi-Trendy'),
 ('Fred', 170837, 'Trendy'),
 ('Gabriel', 270207, 'Trendy'),
 ('Gabriella', 51486, 'Semi-Trendy'),
 ('Gabrielle', 51144, 'Semi-Trendy'),
 ('Gail', 118334, 'Semi-Trendy'),
 ('Garrett', 15976, 'Semi-Trendy'),
 ('Gary', 817491, 'Trendy'),
 ('Gavin', 130460, 'Semi-Trendy'),
 ('George', 1032513, 'Semi-classic'),
 ('Gerald', 327545, 'Trendy'),
 ('Geraldine', 52850, 'Semi-Trendy'),
 ('Gertrude', 16229, 'Semi-Trendy'),
 ('Gianna', 7826, 'Semi-Trendy'),
 ('Gina', 46380, 'Semi-Trendy'),
 ('Gladys', 77627, 'Semi-Trendy'),
 ('Glenn', 94437, 'Semi-Trendy'),
 ('Gloria', 331698, 'Trendy'),
 ('Grace', 254573, 'Trendy'),
 ('Grayson', 61689, 'Semi-Trendy'),
 ('Greg', 15849, 'Semi-Trendy'),
 ('Gregory', 644286, 'Trendy'),
 ('Hailey', 111571, 'Semi-Trendy'),
 ('Haley', 106119, 'Semi-Trendy'),
 ('Hannah', 392284, 'Trendy'),
 ('Harold', 368463, 'Trendy'),
 ('Harper', 86554, 'Semi-Trendy'),
 ('Harry', 182312, 'Trendy'),
 ('Hayden', 34724, 'Semi-Trendy'),
 ('Hazel', 66103, 'Semi-Trendy'),
 ('Heather', 468165, 'Trendy'),
 ('Helen', 569998, 'Trendy'),
 ('Henry', 429656, 'Semi-classic'),
 ('Herbert', 52341, 'Semi-Trendy'),
 ('Holly', 54634, 'Semi-Trendy'),
 ('Howard', 157144, 'Trendy'),
 ('Hudson', 43048, 'Semi-Trendy'),
 ('Hunter', 220439, 'Trendy'),
 ('Ian', 159100, 'Trendy'),
 ('Irene', 110116, 'Semi-Trendy'),
 ('Isaac', 209563, 'Trendy'),
 ('Isabella', 336924, 'Trendy'),
 ('Isaiah', 200116, 'Trendy'),
 ('Jace', 23233, 'Semi-Trendy'),
 ('Jack', 552411, 'Semi-classic'),
 ('Jackson', 219588, 'Trendy'),
 ('Jacob', 888209, 'Trendy'),
 ('Jacqueline', 223092, 'Trendy'),
 ('Jaden', 21777, 'Semi-Trendy'),
 ('Jaime', 13744, 'Semi-Trendy'),
 ('James', 4748138, 'Classic'),
 ('Jamie', 157417, 'Semi-Trendy'),
 ('Jane', 195627, 'Trendy'),
 ('Janet', 444842, 'Trendy'),
 ('Janice', 328335, 'Trendy'),
 ('Jared', 137848, 'Trendy'),
 ('Jasmine', 192464, 'Trendy'),
 ('Jason', 998257, 'Trendy'),
 ('Jaxon', 66542, 'Semi-Trendy'),
 ('Jaxson', 5061, 'Semi-Trendy'),
 ('Jay', 20682, 'Semi-Trendy'),
 ('Jayden', 213005, 'Semi-Trendy'),
 ('Jean', 363812, 'Trendy'),
 ('Jeff', 61390, 'Semi-Trendy'),
 ('Jeffery', 131241, 'Semi-Trendy'),
 ('Jeffrey', 907378, 'Trendy'),
 ('Jenna', 60548, 'Semi-Trendy'),
 ('Jennifer', 1404743, 'Trendy'),
 ('Jeremiah', 104792, 'Semi-Trendy'),
 ('Jeremy', 366271, 'Trendy'),
 ('Jerry', 494469, 'Trendy'),
 ('Jesse', 183645, 'Trendy'),
 ('Jessica', 994210, 'Trendy'),
 ('Jesus', 82359, 'Semi-Trendy'),
 ('Jill', 120405, 'Semi-Trendy'),
 ('Jim', 16588, 'Semi-Trendy'),
 ('Jimmy', 135558, 'Trendy'),
 ('Jo', 84238, 'Semi-Trendy'),
 ('Joan', 413286, 'Trendy'),
 ('Joanne', 77323, 'Semi-Trendy'),
 ('Jocelyn', 5292, 'Semi-Trendy'),
 ('Joe', 302127, 'Trendy'),
 ('John', 4510721, 'Classic'),
 ('Johnny', 138737, 'Trendy'),
 ('Jonathan', 772846, 'Semi-classic'),
 ('Jordan', 426912, 'Trendy'),
 ('Jose', 434805, 'Trendy'),
 ('Joseph', 2361382, 'Classic'),
 ('Josephine', 69222, 'Semi-Trendy'),
 ('Joshua', 1204236, 'Trendy'),
 ('Josiah', 74001, 'Semi-Trendy'),
 ('Joyce', 436267, 'Trendy'),
 ('Juan', 189094, 'Trendy'),
 ('Juanita', 20758, 'Semi-Trendy'),
 ('Judith', 377449, 'Trendy'),
 ('Judy', 329356, 'Trendy'),
 ('Julia', 112397, 'Semi-Trendy'),
 ('Julian', 137742, 'Semi-Trendy'),
 ('Julie', 411989, 'Trendy'),
 ('June', 61668, 'Semi-Trendy'),
 ('Justin', 729931, 'Trendy'),
 ('Kaitlyn', 121541, 'Semi-Trendy'),
 ('Karen', 892033, 'Trendy'),
 ('Katelyn', 65023, 'Semi-Trendy'),
 ('Katherine', 413349, 'Semi-classic'),
 ('Kathleen', 516918, 'Trendy'),
 ('Kathryn', 204173, 'Trendy'),
 ('Kathy', 269922, 'Trendy'),
 ('Katie', 97378, 'Semi-Trendy'),
 ('Kayla', 294192, 'Trendy'),
 ('Kaylee', 65209, 'Semi-Trendy'),
 ('Keith', 313978, 'Trendy'),
 ('Kelly', 417352, 'Trendy'),
 ('Kelsey', 95434, 'Semi-Trendy'),
 ('Kenneth', 1153846, 'Semi-classic'),
 ('Kevin', 1140092, 'Semi-classic'),
 ('Khloe', 5406, 'Semi-Trendy'),
 ('Kim', 143648, 'Semi-Trendy'),
 ('Kimberly', 767543, 'Trendy'),
 ('Kristen', 127223, 'Semi-Trendy'),
 ('Kristin', 81495, 'Semi-Trendy'),
 ('Kristina', 10585, 'Semi-Trendy'),
 ('Kristy', 5331, 'Semi-Trendy'),
 ('Krystal', 5935, 'Semi-Trendy'),
 ('Kyle', 394877, 'Trendy'),
 ('Kylie', 16309, 'Semi-Trendy'),
 ('Landon', 129558, 'Semi-Trendy'),
 ('Larry', 700521, 'Trendy'),
 ('Latoya', 5051, 'Semi-Trendy'),
 ('Laura', 587161, 'Trendy'),
 ('Lauren', 401513, 'Trendy'),
 ('Laurie', 87568, 'Semi-Trendy'),
 ('Lawrence', 307238, 'Trendy'),
 ('Layla', 74474, 'Semi-Trendy'),
 ('Leah', 63600, 'Semi-Trendy'),
 ('Leo', 32643, 'Semi-Trendy'),
 ('Leonard', 54127, 'Semi-Trendy'),
 ('Leslie', 73075, 'Semi-Trendy'),
 ('Levi', 91814, 'Semi-Trendy'),
 ('Liam', 213059, 'Semi-Trendy'),
 ('Lillian', 185120, 'Trendy'),
 ('Lily', 115354, 'Semi-Trendy'),
 ('Lincoln', 43147, 'Semi-Trendy'),
 ('Linda', 1361021, 'Trendy'),
 ('Lindsay', 69178, 'Semi-Trendy'),
 ('Lindsey', 88669, 'Semi-Trendy'),
 ('Lisa', 920119, 'Trendy'),
 ('Logan', 316927, 'Trendy'),
 ('Lois', 220781, 'Trendy'),
 ('Lori', 289439, 'Trendy'),
 ('Lorraine', 27338, 'Semi-Trendy'),
 ('Louis', 115731, 'Semi-Trendy'),
 ('Louise', 106456, 'Semi-Trendy'),
 ('Lucas', 191033, 'Semi-Trendy'),
 ('Lucille', 59379, 'Semi-Trendy'),
 ('Luis', 144176, 'Trendy'),
 ('Luke', 207795, 'Trendy'),
 ('Luna', 27822, 'Semi-Trendy'),
 ('Lynn', 97059, 'Semi-Trendy'),
 ('Mackenzie', 46972, 'Semi-Trendy'),
 ('Madeline', 26888, 'Semi-Trendy'),
 ('Madison', 378127, 'Trendy'),
 ('Makayla', 55446, 'Semi-Trendy'),
 ('Marc', 5013, 'Semi-Trendy'),
 ('Marcia', 15571, 'Semi-Trendy'),
 ('Marcus', 53788, 'Semi-Trendy'),
 ('Margaret', 806838, 'Trendy'),
 ('Maria', 417502, 'Semi-classic'),
 ('Mariah', 15723, 'Semi-Trendy'),
 ('Marie', 249462, 'Trendy'),
 ('Marilyn', 286722, 'Trendy'),
 ('Marion', 50545, 'Semi-Trendy'),
 ('Marissa', 29003, 'Semi-Trendy'),
 ('Marjorie', 114386, 'Semi-Trendy'),
 ('Mark', 1265910, 'Semi-classic'),
 ('Marlene', 10368, 'Semi-Trendy'),
 ('Marsha', 21303, 'Semi-Trendy'),
 ('Martha', 359762, 'Trendy'),
 ('Martin', 56023, 'Semi-Trendy'),
 ('Mary', 3215850, 'Classic'),
 ('Mason', 263609, 'Trendy'),
 ('Mateo', 45440, 'Semi-Trendy'),
 ('Matthew', 1567204, 'Semi-classic'),
 ('Maverick', 16863, 'Semi-Trendy'),
 ('Maya', 5047, 'Semi-Trendy'),
 ('Megan', 384668, 'Trendy'),
 ('Melanie', 43995, 'Semi-Trendy'),
 ('Melissa', 666250, 'Trendy'),
 ('Mia', 216167, 'Semi-Trendy'),
 ('Michael', 4278824, 'Classic'),
 ('Michele', 139690, 'Semi-Trendy'),
 ('Michelle', 736097, 'Trendy'),
 ('Mike', 97902, 'Semi-Trendy'),
 ('Mila', 28047, 'Semi-Trendy'),
 ('Mildred', 195666, 'Semi-Trendy'),
 ('Miles', 5249, 'Semi-Trendy'),
 ('Miranda', 11434, 'Semi-Trendy'),
 ('Misty', 34935, 'Semi-Trendy'),
 ('Mitchell', 5370, 'Semi-Trendy'),
 ('Monica', 111143, 'Semi-Trendy'),
 ('Morgan', 157320, 'Semi-Trendy'),
 ('Nancy', 854761, 'Trendy'),
 ('Natalie', 266634, 'Trendy'),
 ('Nathan', 493746, 'Trendy'),
 ('Nathaniel', 103671, 'Semi-Trendy'),
 ('Nevaeh', 42926, 'Semi-Trendy'),
 ('Nicholas', 777269, 'Trendy'),
 ('Nicole', 533803, 'Trendy'),
 ('Noah', 389490, 'Trendy'),
 ('Nolan', 38147, 'Semi-Trendy'),
 ('Nora', 34285, 'Semi-Trendy'),
 ('Norma', 144522, 'Trendy'),
 ('Norman', 47596, 'Semi-Trendy'),
 ('Oliver', 107511, 'Semi-Trendy'),
 ('Olivia', 429118, 'Trendy'),
 ('Owen', 151569, 'Semi-Trendy'),
 ('Paige', 48894, 'Semi-Trendy'),
 ('Paisley', 5085, 'Semi-Trendy'),
 ('Pamela', 524481, 'Trendy'),
 ('Parker', 27453, 'Semi-Trendy'),
 ('Patricia', 1479802, 'Semi-classic'),
 ('Patrick', 559661, 'Semi-classic'),
 ('Paul', 1218996, 'Semi-classic'),
 ('Paula', 196090, 'Trendy'),
 ('Pauline', 64073, 'Semi-Trendy'),
 ('Peggy', 220586, 'Trendy'),
 ('Penelope', 43409, 'Semi-Trendy'),
 ('Penny', 10128, 'Semi-Trendy'),
 ('Peter', 388795, 'Semi-classic'),
 ('Peyton', 5315, 'Semi-Trendy'),
 ('Philip', 100415, 'Semi-Trendy'),
 ('Phillip', 86811, 'Semi-Trendy'),
 ('Phyllis', 251517, 'Trendy'),
 ('Rachel', 434626, 'Trendy'),
 ('Ralph', 273663, 'Trendy'),
 ('Randall', 89055, 'Semi-Trendy'),
 ('Randy', 215094, 'Semi-Trendy'),
 ('Raymond', 541922, 'Semi-classic'),
 ('Rebecca', 638458, 'Semi-classic'),
 ('Regina', 10003, 'Semi-Trendy'),
 ('Renee', 61185, 'Semi-Trendy'),
 ('Rhonda', 157706, 'Semi-Trendy'),
 ('Richard', 2414838, 'Classic'),
 ('Rick', 5462, 'Semi-Trendy'),
 ('Ricky', 119547, 'Semi-Trendy'),
 ('Riley', 73607, 'Semi-Trendy'),
 ('Rita', 125877, 'Trendy'),
 ('Robert', 4495199, 'Classic'),
 ('Robin', 210806, 'Semi-Trendy'),
 ('Rodney', 125500, 'Semi-Trendy'),
 ('Roger', 314531, 'Trendy'),
 ('Ronald', 974343, 'Semi-classic'),
 ('Ronnie', 45564, 'Semi-Trendy'),
 ('Rose', 248527, 'Trendy'),
 ('Roy', 227920, 'Trendy'),
 ('Ruby', 93528, 'Semi-Trendy'),
 ('Russell', 128647, 'Trendy'),
 ('Ruth', 475908, 'Trendy'),
 ('Ryan', 926995, 'Trendy'),
 ('Sabrina', 11589, 'Semi-Trendy'),
 ('Sally', 30713, 'Semi-Trendy'),
 ('Samantha', 514826, 'Trendy'),
 ('Samuel', 539556, 'Semi-classic'),
 ('Sandra', 783878, 'Trendy'),
 ('Santiago', 5036, 'Semi-Trendy'),
 ('Sara', 226696, 'Trendy'),
 ('Sarah', 777519, 'Trendy'),
 ('Savannah', 134405, 'Trendy'),
 ('Scarlett', 54329, 'Semi-Trendy'),
 ('Scott', 704468, 'Trendy'),
 ('Sean', 372082, 'Trendy'),
 ('Sebastian', 130244, 'Semi-Trendy'),
 ('Seth', 35423, 'Semi-Trendy'),
 ('Shane', 52869, 'Semi-Trendy'),
 ('Shannon', 231132, 'Trendy'),
 ('Sharon', 647989, 'Trendy'),
 ('Shaun', 6107, 'Semi-Trendy'),
 ('Shawn', 215326, 'Trendy'),
 ('Sheila', 154361, 'Trendy'),
 ('Shelby', 68474, 'Semi-Trendy'),
 ('Sherri', 10819, 'Semi-Trendy'),
 ('Sherry', 173913, 'Trendy'),
 ('Shirley', 615887, 'Trendy'),
 ('Sierra', 38980, 'Semi-Trendy'),
 ('Skylar', 10408, 'Semi-Trendy'),
 ('Sofia', 117208, 'Semi-Trendy'),
 ('Sophia', 318523, 'Trendy'),
 ('Stacey', 67483, 'Semi-Trendy'),
 ('Stacy', 86835, 'Semi-Trendy'),
 ('Stanley', 95152, 'Semi-Trendy'),
 ('Stella', 10217, 'Semi-Trendy'),
 ('Stephanie', 651976, 'Trendy'),
 ('Stephen', 753958, 'Semi-classic'),
 ('Steve', 114750, 'Semi-Trendy'),
 ('Steven', 1216819, 'Semi-classic'),
 ('Sue', 10450, 'Semi-Trendy'),
 ('Susan', 1025728, 'Trendy'),
 ('Suzanne', 109387, 'Semi-Trendy'),
 ('Sydney', 117279, 'Semi-Trendy'),
 ('Tammy', 296905, 'Semi-Trendy'),
 ('Tanya', 22407, 'Semi-Trendy'),
 ('Tara', 107987, 'Semi-Trendy'),
 ('Taylor', 323699, 'Trendy'),
 ('Teresa', 298059, 'Trendy'),
 ('Terri', 80961, 'Semi-Trendy'),
 ('Terry', 346213, 'Trendy'),
 ('Thelma', 74017, 'Semi-Trendy'),
 ('Theodore', 29464, 'Semi-Trendy'),
 ('Theresa', 225262, 'Trendy'),
 ('Thomas', 2166802, 'Classic'),
 ('Tiffany', 283969, 'Trendy'),
 ('Tim', 36165, 'Semi-Trendy'),
 ('Timothy', 1001771, 'Semi-classic'),
 ('Tina', 227252, 'Trendy'),
 ('Todd', 207137, 'Semi-Trendy'),
 ('Tom', 5061, 'Semi-Trendy'),
 ('Tony', 96417, 'Semi-Trendy'),
 ('Tonya', 58234, 'Semi-Trendy'),
 ('Tracey', 16979, 'Semi-Trendy'),
 ('Tracy', 199320, 'Semi-Trendy'),
 ('Travis', 218731, 'Trendy'),
 ('Trevor', 76138, 'Semi-Trendy'),
 ('Trinity', 16217, 'Semi-Trendy'),
 ('Tristan', 27212, 'Semi-Trendy'),
 ('Troy', 82294, 'Semi-Trendy'),
 ('Tyler', 548624, 'Trendy'),
 ('Valerie', 70039, 'Semi-Trendy'),
 ('Vanessa', 119596, 'Semi-Trendy'),
 ('Vicki', 94504, 'Semi-Trendy'),
 ('Vickie', 49252, 'Semi-Trendy'),
 ('Victoria', 347794, 'Trendy'),
 ('Vincent', 23419, 'Semi-Trendy'),
 ('Violet', 10471, 'Semi-Trendy'),
 ('Virginia', 441418, 'Trendy'),
 ('Walter', 378194, 'Trendy'),
 ('Wanda', 125458, 'Semi-Trendy'),
 ('Warren', 13290, 'Semi-Trendy'),
 ('Wayne', 211347, 'Trendy'),
 ('Wendy', 159446, 'Semi-Trendy'),
 ('Whitney', 43759, 'Semi-Trendy'),
 ('William', 3614424, 'Classic'),
 ('Willie', 274564, 'Trendy'),
 ('Wyatt', 128168, 'Semi-Trendy'),
 ('Xavier', 51892, 'Semi-Trendy'),
 ('Zachary', 483955, 'Trendy'),
 ('Zoe', 78773, 'Semi-Trendy'),
 ('Zoey', 70140, 'Semi-Trendy')]

**3. What are the top-ranked female names since 1920?**
       -Here female baby names are ranked according to the no. of times they were used since 1920

In [12]:
%%sql

SELECT RANK() OVER(ORDER BY SUM(CAST(num AS int)) DESC) AS name_rank,
        first_name, SUM(CAST(num AS int)) AS sum,
        COUNT(year) AS year_count		
FROM baby_names
WHERE sex = 'F'
GROUP BY first_name
ORDER BY sum DESC
LIMIT 10;

 * postgresql:///names
10 rows affected.

[(1, 'Mary', 3215850, 84),
 (2, 'Patricia', 1479802, 59),
 (3, 'Elizabeth', 1436286, 101),
 (4, 'Jennifer', 1404743, 50),
 (5, 'Linda', 1361021, 35),
 (6, 'Barbara', 1343901, 53),
 (7, 'Susan', 1025728, 40),
 (8, 'Jessica', 994210, 37),
 (9, 'Lisa', 920119, 37),
 (10, 'Betty', 893396, 42)]

**4. Returning a list of first names which meet a friend's baby name criteria, which are:
    * Name that has been popular in the years since 2015 
	* name ending in the letter 'a' since she's heard that vowels in baby names are trendy
	* Traditionally female name **

In [14]:
%%sql

SELECT first_name, SUM(CAST(num AS int)) AS sum
FROM baby_names
WHERE sex = 'F'
AND first_name LIKE '%a'
AND year >= 2015
GROUP BY first_name
ORDER BY sum DESC;

 * postgresql:///names
22 rows affected.

[('Olivia', 111888),
 ('Emma', 111330),
 ('Ava', 91242),
 ('Sophia', 89194),
 ('Isabella', 85613),
 ('Mia', 79162),
 ('Amelia', 70467),
 ('Sofia', 48989),
 ('Ella', 47407),
 ('Camila', 41519),
 ('Aria', 41106),
 ('Victoria', 40955),
 ('Layla', 38081),
 ('Nora', 34285),
 ('Mila', 28047),
 ('Luna', 27822),
 ('Stella', 10217),
 ('Gianna', 7826),
 ('Alexa', 6052),
 ('Samantha', 5343),
 ('Aurora', 5184),
 ('Anna', 5136)]

Based on the results in the previous task, we can see that Olivia is the most popular female name ending in 'A' since 2015.

**5. When did the name Olivia become so popular?

In [19]:
%%sql

SELECT year, 
        first_name, 
        SUM(CAST(num AS int)) OVER(PARTITION BY YEAR ORDER BY year) AS sum,
        SUM(CAST(num AS int)) OVER(ORDER BY year
                                    ROWS BETWEEN UNBOUNDED PRECEDING
                                    AND CURRENT ROW) AS cumulative_olivias, 
        SUM(CAST(num AS int)) OVER(ORDER BY year) AS cumulative_olivias_2
FROM baby_names
WHERE first_name = 'Olivia';

 * postgresql:///names
30 rows affected.

[(1991, 'Olivia', 5601, 5601, 5601),
 (1992, 'Olivia', 5809, 11410, 11410),
 (1993, 'Olivia', 6340, 17750, 17750),
 (1994, 'Olivia', 6434, 24184, 24184),
 (1995, 'Olivia', 7624, 31808, 31808),
 (1996, 'Olivia', 8124, 39932, 39932),
 (1997, 'Olivia', 9477, 49409, 49409),
 (1998, 'Olivia', 10610, 60019, 60019),
 (1999, 'Olivia', 11255, 71274, 71274),
 (2000, 'Olivia', 12852, 84126, 84126),
 (2001, 'Olivia', 13977, 98103, 98103),
 (2002, 'Olivia', 14630, 112733, 112733),
 (2003, 'Olivia', 16152, 128885, 128885),
 (2004, 'Olivia', 16106, 144991, 144991),
 (2005, 'Olivia', 15694, 160685, 160685),
 (2006, 'Olivia', 15501, 176186, 176186),
 (2007, 'Olivia', 16584, 192770, 192770),
 (2008, 'Olivia', 17084, 209854, 209854),
 (2009, 'Olivia', 17438, 227292, 227292),
 (2010, 'Olivia', 17029, 244321, 244321),
 (2011, 'Olivia', 17327, 261648, 261648),
 (2012, 'Olivia', 17320, 278968, 278968),
 (2013, 'Olivia', 18439, 297407, 297407),
 (2014, 'Olivia', 19823, 317230, 317230),
 (2015, 'Olivia', 19710, 336940, 336940),
 (2016, 'Olivia', 19380, 356320, 356320),
 (2017, 'Olivia', 18744, 375064, 375064),
 (2018, 'Olivia', 18011, 393075, 393075),
 (2019, 'Olivia', 18508, 411583, 411583),
 (2020, 'Olivia', 17535, 429118, 429118)]

2 methods of using window functions to query cumulative sums,
col. cumulative_olivias & cumulative_olivias_2 give the same result

** 6. Which was the most popular male name in each year?

In [20]:
%%sql

SELECT year, MAX(CAST(num AS int)) AS max
FROM baby_names
WHERE sex = 'M'
GROUP BY year
ORDER BY year ASC;

 * postgresql:///names
101 rows affected.

[(1920, 56914),
 (1921, 58215),
 (1922, 57280),
 (1923, 57469),
 (1924, 60801),
 (1925, 60897),
 (1926, 61130),
 (1927, 61671),
 (1928, 60703),
 (1929, 59804),
 (1930, 62149),
 (1931, 60518),
 (1932, 59265),
 (1933, 54223),
 (1934, 55834),
 (1935, 56522),
 (1936, 58499),
 (1937, 61842),
 (1938, 62269),
 (1939, 59653),
 (1940, 62476),
 (1941, 66743),
 (1942, 77174),
 (1943, 80274),
 (1944, 76954),
 (1945, 74460),
 (1946, 87439),
 (1947, 94764),
 (1948, 88589),
 (1949, 86865),
 (1950, 86229),
 (1951, 87261),
 (1952, 87063),
 (1953, 86247),
 (1954, 88576),
 (1955, 88372),
 (1956, 90665),
 (1957, 92718),
 (1958, 90564),
 (1959, 85224),
 (1960, 85933),
 (1961, 86917),
 (1962, 85041),
 (1963, 83778),
 (1964, 82642),
 (1965, 81021),
 (1966, 79990),
 (1967, 82440),
 (1968, 81995),
 (1969, 85201),
 (1970, 85291),
 (1971, 77599),
 (1972, 71401),
 (1973, 67842),
 (1974, 67580),
 (1975, 68451),
 (1976, 66947),
 (1977, 67609),
 (1978, 67157),
 (1979, 67742),
 (1980, 68704),
 (1981, 68776),
 (1982, 68244),
 (1983, 68010),
 (1984, 67745),
 (1985, 64924),
 (1986, 64224),
 (1987, 63654),
 (1988, 64150),
 (1989, 65399),
 (1990, 65302),
 (1991, 60793),
 (1992, 54397),
 (1993, 49554),
 (1994, 44472),
 (1995, 41399),
 (1996, 38365),
 (1997, 37549),
 (1998, 36616),
 (1999, 35367),
 (2000, 34483),
 (2001, 32554),
 (2002, 30579),
 (2003, 29643),
 (2004, 27886),
 (2005, 25837),
 (2006, 24850),
 (2007, 24292),
 (2008, 22603),
 (2009, 21184),
 (2010, 22139),
 (2011, 20378),
 (2012, 19088),
 (2013, 18266),
 (2014, 19319),
 (2015, 19650),
 (2016, 19154),
 (2017, 18824),
 (2018, 19924),
 (2019, 20555),
 (2020, 19659)]

Used a subquery to find out the max no. for each year and then used that in another query to find the names corresponding to the max no.

In [22]:
%%sql

SELECT b.year, b.first_name, CAST(b.num AS int) AS num
FROM baby_names AS b
INNER JOIN (
            SELECT year, MAX(CAST(num AS int)) AS max_num
            FROM baby_names
            WHERE sex = 'M'
            GROUP BY year
            ) AS max
ON b.year = max.year
AND b.num = max.max_num
ORDER BY b.year DESC;

 * postgresql:///names
101 rows affected.

[(2020, 'Liam', 19659),
 (2019, 'Liam', 20555),
 (2018, 'Liam', 19924),
 (2017, 'Liam', 18824),
 (2016, 'Noah', 19154),
 (2015, 'Noah', 19650),
 (2014, 'Noah', 19319),
 (2013, 'Noah', 18266),
 (2012, 'Jacob', 19088),
 (2011, 'Jacob', 20378),
 (2010, 'Jacob', 22139),
 (2009, 'Jacob', 21184),
 (2008, 'Jacob', 22603),
 (2007, 'Jacob', 24292),
 (2006, 'Jacob', 24850),
 (2005, 'Jacob', 25837),
 (2004, 'Jacob', 27886),
 (2003, 'Jacob', 29643),
 (2002, 'Jacob', 30579),
 (2001, 'Jacob', 32554),
 (2000, 'Jacob', 34483),
 (1999, 'Jacob', 35367),
 (1998, 'Michael', 36616),
 (1997, 'Michael', 37549),
 (1996, 'Michael', 38365),
 (1995, 'Michael', 41399),
 (1994, 'Michael', 44472),
 (1993, 'Michael', 49554),
 (1992, 'Michael', 54397),
 (1991, 'Michael', 60793),
 (1990, 'Michael', 65302),
 (1989, 'Michael', 65399),
 (1988, 'Michael', 64150),
 (1987, 'Michael', 63654),
 (1986, 'Michael', 64224),
 (1985, 'Michael', 64924),
 (1984, 'Michael', 67745),
 (1983, 'Michael', 68010),
 (1982, 'Michael', 68244),
 (1981, 'Michael', 68776),
 (1980, 'Michael', 68704),
 (1979, 'Michael', 67742),
 (1978, 'Michael', 67157),
 (1977, 'Michael', 67609),
 (1976, 'Michael', 66947),
 (1975, 'Michael', 68451),
 (1974, 'Michael', 67580),
 (1973, 'Michael', 67842),
 (1972, 'Michael', 71401),
 (1971, 'Michael', 77599),
 (1970, 'Michael', 85291),
 (1969, 'Michael', 85201),
 (1968, 'Michael', 81995),
 (1967, 'Michael', 82440),
 (1966, 'Michael', 79990),
 (1965, 'Michael', 81021),
 (1964, 'Michael', 82642),
 (1963, 'Michael', 83778),
 (1962, 'Michael', 85041),
 (1961, 'Michael', 86917),
 (1960, 'David', 85933),
 (1959, 'Michael', 85224),
 (1958, 'Michael', 90564),
 (1957, 'Michael', 92718),
 (1956, 'Michael', 90665),
 (1955, 'Michael', 88372),
 (1954, 'Michael', 88576),
 (1953, 'Robert', 86247),
 (1952, 'James', 87063),
 (1951, 'James', 87261),
 (1950, 'James', 86229),
 (1949, 'James', 86865),
 (1948, 'James', 88589),
 (1947, 'James', 94764),
 (1946, 'James', 87439),
 (1945, 'James', 74460),
 (1944, 'James', 76954),
 (1943, 'James', 80274),
 (1942, 'James', 77174),
 (1941, 'James', 66743),
 (1940, 'James', 62476),
 (1939, 'Robert', 59653),
 (1938, 'Robert', 62269),
 (1937, 'Robert', 61842),
 (1936, 'Robert', 58499),
 (1935, 'Robert', 56522),
 (1934, 'Robert', 55834),
 (1933, 'Robert', 54223),
 (1932, 'Robert', 59265),
 (1931, 'Robert', 60518),
 (1930, 'Robert', 62149),
 (1929, 'Robert', 59804),
 (1928, 'Robert', 60703),
 (1927, 'Robert', 61671),
 (1926, 'Robert', 61130),
 (1925, 'Robert', 60897),
 (1924, 'Robert', 60801),
 (1923, 'John', 57469),
 (1922, 'John', 57280),
 (1921, 'John', 58215),
 (1920, 'John', 56914)]

**7. Using Distinct function finding the short list of names 
      that comprised the top names in the last 101 years **

In [23]:
%%sql

SELECT DISTINCT first_name
FROM (
        SELECT b.year, b.first_name, CAST(b.num AS int) AS num
        FROM baby_names AS b
        INNER JOIN (
                    SELECT year, MAX(CAST(num AS int)) AS max_num
                    FROM baby_names
                    WHERE sex = 'M'
                    GROUP BY year
                    ) AS max
        ON b.year = max.year
        AND b.num = max.max_num
        ) AS max_num_names;

 * postgresql:///names
8 rows affected.

[('Robert',),
 ('James',),
 ('Michael',),
 ('David',),
 ('Noah',),
 ('John',),
 ('Liam',),
 ('Jacob',)]

**8. Which name has been number one for the largest number of years?**
-- using CTE we can utlise the older query and obtain the count of the top names

In [24]:
%%sql

WITH max_list AS (
                SELECT b.year, b.first_name, CAST(b.num AS int) AS num
                FROM baby_names AS b
                INNER JOIN (
                            SELECT year, MAX(CAST(num AS int)) AS max_num
                            FROM baby_names
                            WHERE sex = 'M'
                            GROUP BY year
                            ) AS max
                ON b.year = max.year
                AND b.num = max.max_num
                )

SELECT first_name, COUNT(year) AS count
FROM max_list
GROUP BY first_name
ORDER BY count DESC;

 * postgresql:///names
8 rows affected.

[('Michael', 44),
 ('Robert', 17),
 ('Jacob', 14),
 ('James', 13),
 ('Noah', 4),
 ('John', 4),
 ('Liam', 4),
 ('David', 1)]